.search-box
{
position: absolute;
width: 360px;
height: 42px;
left: 540px;
border-radius: 21px;
}

.jumbotron-alter
{
  background-color:black;
  background-image: linear-gradient(
    to bottom, transparent, #000
  ), url("./Images/Rectangle.png");
    margin: 0px auto;
  padding: 70px 30px;
  padding-top: 20%;
  padding-bottom: 2%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.jumbotron-back
{
    background-color: black;
}

.jumbotron-text
{
    color: white;
    padding-left: 7%;
    padding-bottom: 3%;
}

.button-1
{
  opacity: 90%;
  padding-right: 20px;
}

.location-alter
{
  color: gray;
}
.article-alter
{
  size: 18px;
  height: 18px;
  width: 77px;
}

.education-alter
{
  height: 20px;
  width: 90px;
}
.meeting-alter
{
  height: 20px;
  width: 80px;
}
.job-alter
{
  height: 20px;
  width: 53px;
}

.ptext-alter
{
  font-size: 20px;
  font-weight: bold;
}

.img-alter
{
  height: 48px;
  width: 48px;
}
.ptext-alter{
  font-weight: bold;
}

.btn-alter
{
  height: 38px;
  width: 550px;
}